{% extends "layout/no_columns.html" %}

{% load quanda %}

{% block css %}
<style type='text/css'>
</style>
{% endblock %}
    
{% block body_content %}

<p><a href="{% url quanda_index %}">back</a></p>

<p><i>Creating a 'featured' list will display those questions on the home
(quanda_index) page</i></p>

<h1>New list</h1>
<form action="" method="post">
    {{ form.as_p }}
    <input type='submit' value='Create List' />
</form>

<h1>Existing lists</h1>
<ul>
{% for list in lists %}
    <li><a href="{% url quanda_list_details list.id %}">{{ list.title }}</a></li>
{% endfor %}
</ul>

{% endblock %}