{% extends "layout/right_column.html" %}

{% load quanda %}

{% block css %}
<style type='text/css'>
#quanda_question_box {
    background: #f1f1ff;
    border: 1px solid #cccccc;
    !margin-bottom: 15px;
    padding: 5px;
}
#quanda_question_tags{
    background: #f1f1ff;
    border: 1px solid #cccccc;
    border-top: 0;
    margin-bottom: 15px;
    padding: 5px;
}
.quanda_answer_box {
    background: #f5f5f5;
    border: 1px solid #cccccc;
    margin: 0 0 15px 30px;
    padding: 5px;
}
#quanda_chosen_answer_box {
    background: #f6fff6;
    border: 1px solid #33aa33;
    margin: 0 0 15px 30px;
    padding: 5px;    
}
#quanda_msg {
    border: 1px dotted red;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 400px;
}
.active {
    color: black;
}
.quanda_score {
    font-size: 120%;
}
</style>
{% endblock %}

{% block body_content %}

<p>
    <a href="{% url quanda_index %}">back</a>
    {% ifequal question.author user %}
        | <a href="{% url quanda_question_edit question.id %}">edit question</a>
    {% endifequal %}
</p>

{% if msg %}<div id="quanda_msg">{{ msg }}</div>{% endif %}

<div id="quanda_question_box">
    <h2>
        <span class='quanda_score'>{{ question.get_score }}</span>
        &bull; {{ question.title }}
    </h2>
    <p>
        {{ question.get_posted_date }} - by
        {% ifequal question.author.username 'anonymous_user' %}
            <i>anonymous</i>
        {% else %}
            <a href="{% url quanda_public_profile question.author.username %}">
                {{ question.author.username }}
            </a>
            &bull; {{ question.author.username|rep }}
        {% endifequal %}
        -
        {% ifequal user_question_previous_vote 1 %} voted up
        {% else %} <a href="{% url quanda_question_vote_up question.id %}">vote up</a>
        {% endifequal %}
        |
        {% ifequal user_question_previous_vote -1 %} voted down
        {% else %} <a href="{% url quanda_question_vote_down question.id %}">vote down</a>       
        {% endifequal %}
    </p>
    
    <div>
        {{ question.question_text|safe }}
    </div>
    
</div>
<div id='quanda_question_tags'>
    tags:
    {% for tag in question.tags.all %}
        <a href="{% url quanda_view_tag tag.id %}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}
        <i>No tags associated with this question</i>
    {% endfor %}

</div>

{% for answer in answers %}
<a name="answer_{{ answer.id }}"></a>
<div {% if answer.user_chosen %}id="quanda_chosen_answer_box"{% endif %} class='quanda_answer_box'>
    <p>
        <span class='quanda_score'>{{ answer.get_score }}</span> &bull;
        {{ answer.get_posted_date }} - by
        {% ifequal answer.author.username 'anonymous_user' %}
            <i>anonymous</i>
        {% else %}
            <a href="{% url quanda_public_profile answer.author.username %}">
                {{ answer.author.username }}
            </a>
            &bull; {{ answer.author.username|rep }}
        {% endifequal %}
        -
        {% ifequal answer.user_prev_vote 1 %} voted up
        {% else %} <a href="{% url quanda_answer_vote_up answer.id %}">vote up</a>
        {% endifequal %}
        |
        {% ifequal answer.user_prev_vote -1 %} voted down
        {% else %} <a href="{% url quanda_answer_vote_down answer.id %}">vote down</a>
        {% endifequal %}

        {% ifequal user question.author %}
            {% if not answer.user_chosen %}
                - <a href="{% url quanda_pick_answer answer.id %}">pick this answer</a>
            {% endif %}
        {% endifequal %}
        
        {% ifequal user answer.author %}
            - <a href="{% url quanda_answer_edit answer.id %}">edit answer</a>
        {% endifequal %}
    </p>
    <p> {{ answer.answer_text|safe }}</p>
</div>
{% endfor %}


<form action="" method="post">
    <table class='quanda_std_table'>
        {{ answer_form.as_table }}
        <tr><td></td><td><input type='submit' value='Answer Question' /></td></tr>
    </table>
</form>
{% if not user_answered_question %}
{% endif %}

{% endblock %}

{% block right_column %}
<div class='column_block'>
    <h1>Related questions:</h1>
    
    <ul>
    {% for question in related_questions %}
        <li><a href="{{ question.get_absolute_url }}">{{ question.title }}</a></li>
    {% empty %}
        <li><i>There are no tags on this question or no other question with any of this question's tags</i></li>
    {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="/static/js/tiny_mce/tiny_mce.js"></script>

<script type="text/javascript">
    tinyMCE.init({
    theme : "advanced",
    mode : "textareas",
    plugins : "preview",
    theme_advanced_buttons3_add : "preview",
    plugin_preview_width : "600",
    plugin_preview_height : "300",
    width : "500",
    height: "300",
    });
</script>

{% endblock %}