{% extends "layout/right_column.html" %}

{% load quanda %}

{% block css %}

<link href="{% url quanda_record_view question.id %}" rel="stylesheet" type="text/css" />

<style type='text/css'>
#quanda_question_box {
    background: #f1f1ff;
    border: 1px solid #cccccc;
    !margin-bottom: 15px;
    padding: 5px;
}
#quanda_question_tags{
    background: #f1f1ff;
    border: 1px solid #cccccc;
    border-top: 0;
    margin-bottom: 15px;
    padding: 5px;
}
.quanda_answer_box {
    background: #f5f5f5;
    border: 1px solid #cccccc;
    margin: 0 0 15px 30px;
    padding: 5px;
}
#quanda_chosen_answer_box {
    background: #f6fff6;
    border: 1px solid #33aa33;
    margin: 0 0 15px 30px;
    padding: 5px;    
}
#quanda_msg {
    border: 1px dotted red;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    width: 400px;
}
.active {
    color: black;
}
.quanda_score {
    font-size: 120%;
}


.quanda_comments_box { float: right;}
.quanda_comment{
    border-top: 1px dotted #cccccc;
    width: 400px;
}
.quanda_add_comment_link { text-align: right; color: #888888; }
.quanda_add_comment_link:hover { text-decoration: underline; cursor: pointer; }
.quanda_add_comment { text-align: right; margin-bottom: 5px; }
#id_comment_text { width: 250px; }

</style>
{% endblock %}

{% block body_content %}

<p>
    <a href="{% url quanda_index %}">back</a>
    {% ifequal question.author user %}
        | <a href="{% url quanda_question_edit question.id %}">edit question</a>
    {% endifequal %}
    |
    <a href="{% url quanda_index %}feeds/answers/{{ question.id }}/">
        <img id='rss_icon' src='http://scstrategy.com/static/images/base/rss.png' />
    </a>
    <a href="{% url quanda_index %}feeds/answers/{{ question.id }}/">answers feed</a>
</p>

{% if msg %}<div id="quanda_msg">{{ msg }}</div>{% endif %}

<div id="quanda_question_box">
    <h1 style='margin-bottom: 0'>
        <span class='quanda_score'>{{ question.get_score }}</span>
        &bull; {{ question.title }}
    </h1>
    <p>
        {{ question.get_view_count }} views -
        {{ question.posted|smart_date }} - by
        {% ifequal question.author.username 'anonymous_user' %}
            <i>anonymous</i>
        {% else %}
            <a href="{% url quanda_public_profile question.author.username %}">
                {{ question.author.username }}
            </a>
            &bull; {{ question.author.username|rep }}
        {% endifequal %}
        -
        {% ifequal user_question_previous_vote 1 %} voted up
        {% else %} <a href="{% url quanda_question_vote_up question.id %}">vote up</a>
        {% endifequal %}
        |
        {% ifequal user_question_previous_vote -1 %} voted down
        {% else %} <a href="{% url quanda_question_vote_down question.id %}">vote down</a>       
        {% endifequal %}
    </p>
    
    <div>{{ question.question_text|safe }}</div>
        
    <div class='quanda_comments_box'>
        <div id='add_question_comment_link' class='quanda_add_comment_link'>add a comment</div>
        <div id="add_question_comment" class='quanda_add_comment' style="display: none;">
            <form action="" method="post">
                {{ question.comment_form }} <input type='submit' name='comment' value='Add Comment'/>
                
            </form>
        </div>
        {% for comment in question.comments.all %}
            <p class='quanda_comment'>
                {{ comment.comment_text }}
                - <a href="{% url quanda_public_profile comment.user.username %}">{{ comment.user.username }}</a>
                - {{ comment.posted|smart_date }}
            </p>
        {% endfor %}
    </div>
    <div style='clear: both;'></div>

</div>
<div id='quanda_question_tags'>
    tags:
    {% for tag in question.tags.all %}
        <a href="{% url quanda_view_tag tag.id %}">{{ tag.title }}</a>{% if not forloop.last %}, {% endif %}
    {% empty %}
        <i>No tags associated with this question</i>
    {% endfor %}

</div>

{% for answer in answers %}
<a name="answer_{{ answer.id }}"></a>
<div {% if answer.user_chosen %}id="quanda_chosen_answer_box"{% endif %} class='quanda_answer_box'>
    <p>
        <span class='quanda_score'>{{ answer.get_score }}</span> &bull;
        {{ answer.posted|smart_date }} - by
        {% ifequal answer.author.username 'anonymous_user' %}
            <i>anonymous</i>
        {% else %}
            <a href="{% url quanda_public_profile answer.author.username %}">
                {{ answer.author.username }}
            </a>
            &bull; {{ answer.author.username|rep }}
        {% endifequal %}
        -
        {% ifequal answer.user_prev_vote 1 %} voted up
        {% else %} <a href="{% url quanda_answer_vote_up answer.id %}">vote up</a>
        {% endifequal %}
        |
        {% ifequal answer.user_prev_vote -1 %} voted down
        {% else %} <a href="{% url quanda_answer_vote_down answer.id %}">vote down</a>
        {% endifequal %}

        {% ifequal user question.author %}
            {% if not answer.user_chosen %}
                - <a href="{% url quanda_pick_answer answer.id %}">pick this answer</a>
            {% endif %}
        {% endifequal %}
        
        {% ifequal user answer.author %}
            - <a href="{% url quanda_answer_edit answer.id %}">edit answer</a>
        {% endifequal %}
    </p>
    <p> {{ answer.answer_text|safe }}</p>
    
    <div class='quanda_comments_box'>
        <div id='add_answer_{{ answer.id }}_comment_link' class='quanda_add_comment_link'>add a comment</div>
        <div id="add_answer_{{ answer.id }}_comment" class='quanda_add_comment' style="display: none;">
            <form action="" method="post">
                {{ answer.comment_form }} <input type='submit' name='comment' value='Add Comment'/>
            </form>
        </div>
        {% for comment in answer.comments.all %}
            <p class='quanda_comment'>
                {{ comment.comment_text }}
                - <a href="{% url quanda_public_profile comment.user.username %}">{{ comment.user.username }}</a>
                - {{ comment.posted|smart_date }}
            </p>
        {% endfor %}
    </div>
    <div style='clear: both;'></div>
    
</div>
{% endfor %}

{% if not user_answered_question %}
<form action="" method="post">
    <table class='quanda_std_table'>
        {{ answer_form.as_table }}
        <tr><td></td><td><input type='submit' name='answer_question' value='Answer Question' /></td></tr>
    </table>
</form>
{% endif %}

{% endblock %}

{% block right_column %}
<div class='column_block'>
    <h1>Related questions:</h1>
    
    <ul>
    {% for question in related_questions %}
        <p>{{ question.get_ref|safe }}</p>
    {% empty %}
        <p><i>No related questions</i></p>
    {% endfor %}
    </ul>
</div>

<script type="text/javascript" src="{{ tinymce }}"></script>

<script type="text/javascript">
    tinyMCE.init({
    theme : "advanced",
    mode : "textareas",
    plugins : "preview",
    theme_advanced_buttons3_add : "preview",
    plugin_preview_width : "600",
    plugin_preview_height : "300",
    width : "500",
    height: "300",
    });
</script>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

<script type='text/javascript'>
    $(document).ready(function(){
        $("#add_question_comment_link").click(function() {
            $("#add_question_comment").toggle()
        })
        $("#add_question_comment").hide()
    })
</script>

{% for answer in answers %}
<script type='text/javascript'>
    $(document).ready(function(){
        $("#add_answer_{{ answer.id }}_comment_link").click(function() {
            $("#add_answer_{{ answer.id }}_comment").toggle()
        })
        $("#add_question_comment").hide()
    })
</script>
{% endfor %}

{% endblock %}
